@model KnowledgeBase.Models.Issue

@{
    ViewBag.Title = "IssueDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IssueDetail</h2>

<div>
    <h4>Issue</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueHeader)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt></dt>

        <dd>@Html.DisplayFor(model => model.DateIssueCreation)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueText)
        </dt>
        <dt></dt>
        <dd>@Html.Raw(Model.IssueText)</dd>




    </dl>

    <div class="col-lg-9">

        @Html.ActionLink("Add Solution", "AddSolution",
            "Search",
            new {id = Model.IssueID},
            new {@class = "btn btn-success", @id = "btnSubmit", @type = "submit"}
            )

    </div>
</div>

@if (System.Security.Principal.WindowsIdentity.GetCurrent().Name != Model.Username)
{
    <style>
        .btn {
            display: None;
        }
    </style>
}